<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body class="fade-in">
  <header>
    <h1>{{ title }}</h1>
    <div class="meta">
      <span>{{ author }}</span> · <span>{{ date }}</span>
    </div>
  </header>

  <section>
    <h3>Long Posts</h3>
    <ul>
      {% for post in collections.long %}
        <li><a href="/{{ post.data.permalink }}">{{post.data.title}}</a></li>
      {% endfor %}
    </ul>

    <h3>Short Posts</h3>
    <ul>
      {% for post in collections.short %}
        <li><a href="/{{ post.data.permalink }}">{{post.data.title}}</a></li>
      {% endfor %}
    </ul>
  </section>

    {{ content|safe }}
    
</body>

</html>